.slideItem {
  width: 598px;
  margin-bottom: 80px;
  display: grid;
  place-items: center;

  .slideItem__title {
    display: grid;
    align-items: center;
    font-size: 72px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 82.8px;
    color: #f2f4f7;
    width: 598px;
    text-align: center;
  }
  .slideItem__text {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 20.7px;
    color: #f2f4f7;
    width: 598px;
    margin: 32px 0 80px 0;
    text-align: center;
  }
  .slideItem__button {
    font-size: 18px;
    font-family: 'Adamina', serif;
    font-weight: 400;
    height: 57px;
    width: 239px;
    border: 2px solid #fc4060;
    border-image: linear-gradient(to right, #fc4060, #8061fd);
    border-image-slice: 1;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #fc4060, #8061fd);
  }
}
