.slider {
  width: 100%;
  display: grid;
  place-items: center;

  ul {
    width: 15em;
    height: 3em;
    margin-bottom: 15em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;

    input {
      background: #ffffff;
      width: 1em;
      height: 1em;
    }
  }
}
@media (max-width: 768px) {
  .slider {
    ul {
      margin-bottom: 9em;
    }
  }
}
@media (max-width: 375px) {
  .slider {
    width: 20em;
    ul {
      margin-bottom: 5em;
    }
  }
}
